/*Usando "tagHtml", você edita a aparencia da tag e "tagHtml outraTagHtml" edita a tag mais expecíficaa, sendo que esas modificação substitui ou aumenta a mais geral 
Usando ".nomeDaClass", você edita a aparencia da tag marcada com a mesma class*/
.lvl1 {
    list-style-type: decimal;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

.lvl2 {
    list-style-type: upper-alpha;
    color: rgba(4, 92, 104, 0.897);
    font-size: 24px;
}

.lvl3 {
    list-style-type: lower-roman;
    color: rgb(1, 182, 1);
    font-size: 22px;
}

span {
    color: rgb(218, 142, 1);
}