section {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ddd;
	width: 25%;
	margin: 10px auto;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	margin: 0px;	
}

input[type=text], input[type=file], input[type=submit] {
	display: block;
	width: 100%;
	border-radius: 5px;
	margin: 8px 0;
	padding: 12px 20px;
	outline: none;
}

input[type=text], input[type=file] {
	border: 1px solid #aaa;
}

input[type=submit] {
	background-color: #008800;
	color: #fff;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #006600;
}

input[type=text]:focus {
	border: 2px solid red;
}

* {
	box-sizing: border-box;
}