section {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ddd;
	width: 25%;
	margin: 10px auto;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	margin: 0px;	
}

input[type=text],
input[type=submit],
input[type=date],
input[type=datetime-local],
input[type=week],
input[type=number],
input[type=email],
textarea,
select {
	display: block;
	width: 100%;
	border-radius: 5px;
	margin: 8px 0;
	padding: 12px 20px;
	outline: none;
}

input[type=text],
input[type=date],
input[type=datetime-local],
input[type=week],
input[type=number],
input[type=email],
textarea,
select {
	border: 1px solid #aaa;
}

input[type=submit] {
	background-color: #008800;
	color: #fff;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #006600;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
textarea:focus,
select:focus {
	border: 2px solid red;
}

fieldset {
	border: 1px solid #000;
	margin: 8px 0;
}

* {
	box-sizing: border-box;
}