<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>IFitness</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
 	<resource-ref>
 		<description>DB Connection</description>
 		<res-ref-name>jdbc/IFitnessDB</res-ref-name>
 		<res-type>javax.sql.DataSource</res-type>
 		<res-auth>Container</res-auth>
 	</resource-ref>
 	<context-param>
    <param-name>addUser</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.AddUserHelper</param-value>
  </context-param>
  <context-param>
    <param-name>login</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.LoginHelper</param-value>
  </context-param>
  <context-param>
    <param-name>logout</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.LogoutHelper</param-value>
  </context-param>
  <context-param>
    <param-name>listActivities</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.ListActivitiesHelper</param-value>
  </context-param>
  <context-param>
    <param-name>searchActivities</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.SearchActivitiesHelper</param-value>
  </context-param>
  <context-param>
    <param-name>saveActivity</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.SaveActivityHelper</param-value>
  </context-param>
  <context-param>
    <param-name>updateActivity</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.UpdateActivityHelper</param-value>
  </context-param>
  <context-param>
    <param-name>deleteActivity</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.DeleteActivityHelper</param-value>
  </context-param>
  <context-param>
    <param-name>activityStatisticsByType</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.ActivityStatisticsByTypeHelper</param-value>
  </context-param>
  <context-param>
    <param-name>activityStatisticsByDay</param-name>
    <param-value>br.edu.ifsp.arq.ads.ifitness.servlets.helpers.ActivityStatisticsByDayHelper</param-value>
  </context-param>
</web-app>